.mid-content {
  text-align: center;
  font-weight: bold;
  margin-bottom: auto;
}

.text {
  font-weight: normal;
  padding: 10px;
}

#text {
  font-size: 25px;
  font-weight: 500;
}

@media screen and (max-width: 800px) {
  .text {
    font-size: 15px;
  }
}

@media screen and (min-width: 50px) {
  .text {
    text-align: justify;
  }
}
