body {
  margin: 0;
  padding: 0;
  width: 100%;
}

* {
  user-select: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --dark-blue: #0060b1;
  --blue: #00ace5;
}

header {
  width: 100%;
  height: 15vh;
  display: flex;
  padding: 0 10vw;
  align-items: center;
  background-color: var(--dark-blue);
  justify-content: space-between;
}

header #logo {
  max-width: 20%;
}

header .cart img {
  max-width: 20%;
}

header .cart img:last-child {
  margin-left: 20px;
}

nav {
  width: 100%;
  display: flex;
  padding: 1.5vw 5vw;
  align-items: center;
  background-color: var(--blue);
}

nav li {
  cursor: pointer;
  margin: 0 1vw;
  font-size: 1vw;
  font-weight: 600;
  list-style: none;
  letter-spacing: 1px;
  text-transform: uppercase;
}

nav li a {
  text-decoration: none;
}

.swiper {
  width: 90%;
  height: 300px;
}

.swiper .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  width: 70%;
  display: grid;
  grid-gap: 15px;
  margin: 50px auto;
  grid-template-columns: repeat(auto-fit, 170px);
}

section .shop-item {
  position: relative;
  width: 170px;
  height: 200px;
  display: flex;
  align-items: center;
  background: #fafafb;
  flex-direction: column;
  justify-content: center;
}

section .shop-item .btn-content {
  opacity: 0;
  position: absolute;
  margin-top: -40px;
  transition: all 0.2s;
}

section .shop-item:hover .btn-content {
  opacity: 1;
}

section .shop-item .btn-content a {
  border: 0;
  outline: none;
  color: #fff;
  font-size: 10px;
  padding: 5px 10px;
  font-weight: 400;
  border-radius: 30px;
  letter-spacing: 1px;
  background: var(--dark-blue);
  transition: all 0.2s;
  text-decoration: none;
  text-transform: uppercase;
}

section .shop-item .btn-content a:active {
  transform: scale(1.1);
}

section .shop-item small {
  font-size: 0.5rem;
}

footer {
  position: absolute;
  width: 100%;
  display: flex;
  padding: 1vw 2vw;
  align-items: center;
  background-color: var(--dark-blue);
  justify-content: space-between;
}

footer .column {
  display: flex;
  color: #fff;
  font-size: 0.7vw;
  letter-spacing: 1px;
  flex-direction: column;
  text-transform: uppercase;
}

footer .column small {
  margin: 2px 0;
}