<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <!-- Swiper Lib -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper@7/swiper-bundle.min.css"
    />
    <!-- Css -->
    <link rel="stylesheet" href="../styles/product.css" />
    <link rel="stylesheet" href="../styles/index.css" />

    <title>Julio Tech - Compra</title>
  </head>
  <body>
    <header id="header">
        <img id="logo" src="/src/img/logo.png" alt="Logo">
        <div class="cart">
            <img src="/src/img/like.png" alt="Produtos curtidos">
            <img src="/src/img/shopping-cart.png" alt="Carrinho de compras">
        </div>
    </header>

    <nav>
      <li><a href="/index.html">Todos os departamentos</a></li>
        <li><a href="/index.html">Lançamentos</a></li>
        <li><a href="#">Sobre nós</a></li>
    </nav>

    <section>
        <div class="container">
            
        </div>
    </section>

    <footer>
        <div class="column">
            <strong>Fale conosco</strong>
            <small>+55 (51) 99173-9985</small>
            <small>+55 (51) 99173-9985</small>
        </div>
        <div class="column">
            <strong>Certificações</strong>
            <small>Google sites</small>
            <small>Site blindado</small>
        </div>
        <div class="column">
            <strong>Institucional</strong>
            <small><a href="./src/view/pages/about.html">Sobre nós</a></small>
            <small><a href="./src/view/pages/about.html">Trabalhe conosco</a></small>
        </div>
    </footer>
  </body>
</html>
